$color-black: #252525;
$color-black-33: #00000033;
$color-white:#ffffff;
$color-lightblue:#2ed5ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

body {
    background-image: url(./images/bg-tiles.jpg);
    background-size: 200px;
}

nav {
    display: grid;
    grid-template-columns: 20% 65% 5% 5% 5%;
    padding: 30px 5px;
    align-items: baseline;
    position: fixed;
    z-index: 1;
    background: #00000036;
    width: 100vw;
    border-bottom: 2px solid $color-black-33;

    .logo {
        color: $color-white;
        font-size: 26px;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: $color-white;
        font-weight: bold;
    }
    a:hover {
        color: $color-lightblue;
        transition: 0.5s;
    }
}

.banner {
    img {
        height: 100vh;
        object-fit: cover;
    }
}

@mixin section-box {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    overflow: hidden;
    img {
        width: 100%;
    }
}

.about {
    @include section-box();
}

.product {
    @include section-box();

    *:nth-child(1){
        grid-area: pic;
    }
    *:nth-child(2){
        grid-area: text;
    }
    grid-template-areas: "text pic";

    .content { 
      text-align: right;  
    }
    
}

.brand {
    margin: 0 auto;
    width: 25%;
    img {
        padding: 20px;
    }
}

footer {
    text-align: center;
    margin: 100px 0;
    padding: 20px 0;
    color: $color-black-33;
}